:root {
    --blue-1: rgba(47, 128, 237, 1);
    --gradient-card-gray: rgba(255, 255, 255, 1);
    --icons-1: rgba(241, 77, 52, 1);
    --labels-12-bold-font-family: "Montserrat", Helvetica;
    --labels-12-bold-font-size: 12px;
    --labels-12-bold-font-style: normal;
    --labels-12-bold-font-weight: 700;
    --labels-12-bold-letter-spacing: 0px;
    --labels-12-bold-line-height: normal;
    --main-black: rgba(5, 12, 51, 1);
    --text-16px-font-family: "Montserrat", Helvetica;
    --text-16px-font-size: 16px;
    --text-16px-font-style: normal;
    --text-16px-font-weight: 500;
    --text-16px-letter-spacing: 0px;
    --text-16px-line-height: 22px;
    --titles-h2-font-family: "Montserrat", Helvetica;
    --titles-h2-font-size: 42px;
    --titles-h2-font-style: normal;
    --titles-h2-font-weight: 700;
    --titles-h2-letter-spacing: 0px;
    --titles-h2-line-height: normal;
    --titles-h4-font-family: "Montserrat", Helvetica;
    --titles-h4-font-size: 18px;
    --titles-h4-font-style: normal;
    --titles-h4-font-weight: 700;
    --titles-h4-letter-spacing: 0px;
    --titles-h4-line-height: normal;
    --white: rgba(255, 255, 255, 1);
}
