.services {
    height: 716px;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 100px auto;
    padding: 0 130px;
}

.services .adv {
    height: 194px;
    left: 600px;
    position: absolute;
    top: 522px;
    width: 182px;
}

.services .img-8 {
    height: 36.60%;
    left: -30.22%;
    position: absolute;
    top: 8.76%;
    width: 62.64%;
}

.services .text-wrapper-70 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 34.02%;
    left: 0;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 54.64%;
    width: 100%;
}

.services .icons {
    height: 41.75%;
    left: 0;
    position: absolute;
    top: 0;
    width: 44.51%;
}

.services .adv-2 {
    height: 194px;
    left: 0;
    position: absolute;
    top: 278px;
    width: 182px;
}

.services .text-wrapper-71 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 45.36%;
    left: 0;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 54.64%;
    width: 100%;
}

.services .adv-3 {
    height: 194px;
    left: 299px;
    position: absolute;
    top: 278px;
    width: 182px;
}

.services .rectangle-12 {
    height: 52px;
    left: 5px;
    position: absolute;
    top: 16px;
    width: 70px;
}

.services .vector-10 {
    height: 2px;
    left: 30px;
    position: absolute;
    top: 23px;
    width: 7px;
}

.services .vector-11 {
    height: 2px;
    left: 11px;
    position: absolute;
    top: 23px;
    width: 7px;
}

.services .vector-12 {
    height: 2px;
    left: 11px;
    position: absolute;
    top: 34px;
    width: 7px;
}

.services .vector-13 {
    height: 2px;
    left: 11px;
    position: absolute;
    top: 40px;
    width: 7px;
}

.services .vector-14 {
    height: 2px;
    left: 11px;
    position: absolute;
    top: 46px;
    width: 7px;
}

.services .vector-15 {
    height: 2px;
    left: 11px;
    position: absolute;
    top: 52px;
    width: 4px;
}

.services .vector-16 {
    height: 2px;
    left: 41px;
    position: absolute;
    top: 23px;
    width: 7px;
}

.services .vector-17 {
    height: 2px;
    left: 52px;
    position: absolute;
    top: 23px;
    width: 7px;
}

.services .text-wrapper-72 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 34px;
}

.services .adv-4 {
    height: 194px;
    left: 600px;
    position: absolute;
    top: 278px;
    width: 182px;
}

.services .adv-5 {
    height: 194px;
    left: 1px;
    position: absolute;
    top: 522px;
    width: 182px;
}

.services .adv-6 {
    height: 194px;
    left: 299px;
    position: absolute;
    top: 522px;
    width: 182px;
}

.services .adv-7 {
    height: 194px;
    left: 900px;
    position: absolute;
    top: 522px;
    width: 182px;
}

.services .adv-8 {
    height: 194px;
    left: 900px;
    position: absolute;
    top: 278px;
    width: 182px;
}

.services .element-drupal {
    color: var(--main-black);
    font-family: var(--titles-h2-font-family);
    font-size: var(--titles-h2-font-size);
    font-style: var(--titles-h2-font-style);
    font-weight: var(--titles-h2-font-weight);
    left: 9px;
    letter-spacing: var(--titles-h2-letter-spacing);
    line-height: var(--titles-h2-line-height);
    position: absolute;
    top: 0;
    width: 580px;
}

.services .text-wrapper-73 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 9px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 171px;
    width: 493px;
}
