.reviews {
    height: 586px;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 100px auto;
}

.reviews .text-wrapper-11 {
    align-items: center;
    color: var(--main-black);
    display: flex;
    font-family: var(--titles-h2-font-family);
    font-size: var(--titles-h2-font-size);
    font-style: var(--titles-h2-font-style);
    font-weight: var(--titles-h2-font-weight);
    height: 51px;
    justify-content: center;
    left: 630px;
    letter-spacing: var(--titles-h2-letter-spacing);
    line-height: var(--titles-h2-line-height);
    position: absolute;
    text-align: center;
    top: 0;
}

.reviews .right-quote-sign {
    height: 493px;
    left: 0;
    position: absolute;
    top: -89px;
    width: 386px;
}

.reviews .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #a1a1a140;
    height: 466px;
    left: 358px;
    opacity: 0.34;
    position: absolute;
    top: 97px;
    width: 724px;
}

.reviews .rectangle-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #a1a1a140;
    height: 457px;
    left: 294px;
    opacity: 0.5;
    position: absolute;
    top: 129px;
    width: 852px;
}

.reviews .frame-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #a1a1a140;
    height: 416px;
    left: 230px;
    overflow: hidden;
    position: absolute;
    top: 170px;
    width: 980px;
}

.reviews .vector-2 {
    height: 282px;
    left: 628px;
    position: absolute;
    top: 67px;
    width: 1px;
}

.reviews .arrow-right {
    height: 33px;
    left: 884px;
    position: absolute;
    top: 202px;
    width: 17px;
}

.reviews .arrow-left {
    height: 33px;
    left: 693px;
    position: absolute;
    top: 202px;
    width: 17px;
}

.reviews .element {
    align-items: center;
    color: var(--main-black);
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 28px;
    justify-content: center;
    left: 756px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 204px;
    white-space: nowrap;
}

.reviews .span {
    color: #040c33;
}

.reviews .text-wrapper-12 {
    color: #e0e0e0;
}

.reviews .text-wrapper-13 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 128px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 282px;
    width: 380px;
}

.reviews .image-7 {
    height: 46px;
    left: 128px;
    object-fit: cover;
    position: absolute;
    top: 80px;
    width: 200px;
}

.reviews .text-wrapper-14 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 128px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 167px;
    width: 440px;
}
