.team {
    height: 966px;
    position: relative;
    width: 100%;
    max-width: 1086px;
    margin: 100px auto;
    padding: 0 130px;
}

.team .text-wrapper-15 {
    color: var(--main-black);
    font-family: var(--titles-h2-font-family);
    font-size: var(--titles-h2-font-size);
    font-style: var(--titles-h2-font-style);
    font-weight: var(--titles-h2-font-weight);
    left: 439px;
    letter-spacing: var(--titles-h2-letter-spacing);
    line-height: var(--titles-h2-line-height);
    position: absolute;
    text-align: center;
    top: 0;
}

.team .group-wrapper {
    display: flex;
    height: 379px;
    left: 0;
    position: absolute;
    top: 131px;
    width: 280px;
}

.team .group-4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 379px;
    width: 280px;
}

.team .image-8 {
    height: 280px;
    object-fit: cover;
    width: 280px;
}

.team .group-5 {
    height: 69px;
    position: relative;
    width: 284px;
}

.team .text-wrapper-16 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 31.88%;
    left: 0;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 0;
    width: 98.59%;
}

.team .text-wrapper-17 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 63.77%;
    left: 0;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 36.23%;
    width: 98.59%;
}

.team .div-wrapper {
    display: flex;
    height: 379px;
    left: 400px;
    position: absolute;
    top: 587px;
    width: 280px;
}

.team .group-6 {
    height: 379px;
    position: relative;
    width: 284px;
}

.team .text-wrapper-18 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 5.80%;
    left: 0;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 81.79%;
    width: 98.59%;
}

.team .text-wrapper-19 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 11.61%;
    left: 0;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 88.39%;
    width: 98.59%;
}

.team .image-9 {
    height: 280px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 280px;
}

.team .text-wrapper-20 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 2.28%;
    left: 73.66%;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 45.65%;
    width: 25.78%;
}

.team .text-wrapper-21 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 6.83%;
    left: 73.66%;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 48.24%;
    width: 25.78%;
}

.team .image-10 {
    height: 280px;
    left: 800px;
    object-fit: cover;
    position: absolute;
    top: 131px;
    width: 280px;
}

.team .group-7 {
    display: flex;
    height: 357px;
    left: 0;
    position: absolute;
    top: 587px;
    width: 280px;
}

.team .group-8 {
    height: 357px;
    position: relative;
    width: 284px;
}

.team .text-wrapper-22 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 6.16%;
    left: 0;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 86.83%;
    width: 98.59%;
}

.team .text-wrapper-23 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 6.16%;
    left: 0;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 93.84%;
    width: 98.59%;
}

.team .group-9 {
    display: flex;
    height: 357px;
    left: 400px;
    position: absolute;
    top: 131px;
    width: 280px;
}

.team .group-10 {
    display: flex;
    height: 357px;
    left: 800px;
    position: absolute;
    top: 587px;
    width: 280px;
}

.team-show-more-btn {
    margin: 40px auto 0;
    padding: 12px 28px;
    width: fit-content;
    border: 2px solid #f14d34;
    border-radius: 6px;
    color: #f14d34;
    font-size: 14px;
    font-family: "Montserrat", Helvetica;
    cursor: pointer;
    transition: 0.25s;
}

.team-show-more-btn:hover {
    background: #f14d34;
    color: #fff;
}