.plans {
    height: 913px;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 100px auto;
    padding: 0 130px;
}

.plans .text-wrapper-32 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: var(--titles-h2-font-family);
    font-size: var(--titles-h2-font-size);
    font-style: var(--titles-h2-font-style);
    font-weight: var(--titles-h2-font-weight);
    height: 30px;
    justify-content: center;
    left: 300px;
    letter-spacing: var(--titles-h2-letter-spacing);
    line-height: var(--titles-h2-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 580px;
}

.plans .text-wrapper-33 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 356px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 807px;
    width: 468px;
}

.plans .component {
    height: 657px;
    left: 0;
    position: absolute;
    top: 112px;
    width: 390px;
}

.plans .rectangle-wrapper {
    height: 654px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 390px;
}

.plans .rectangle-7 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 94.65%;
}

.plans .group-11 {
    height: 17.05%;
    left: 15.38%;
    position: absolute;
    top: 12.18%;
    width: 61.24%;
}

.plans .text-wrapper-34 {
    align-items: center;
    color: var(--main-black);
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 72px;
    font-weight: 700;
    height: 72px;
    justify-content: center;
    left: 0;
    letter-spacing: 0;
    line-height: 72px;
    position: absolute;
    top: 26px;
    width: 197px;
}

.plans .text-wrapper-35 {
    color: var(--icons-1);
    font-family: "Montserrat", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 231px;
}

.plans .text-wrapper-36 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 202px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 37px;
    width: 22px;
}

.plans .text-wrapper-37 {
    align-items: center;
    color: var(--main-black);
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 18px;
    justify-content: center;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
    white-space: nowrap;
    width: 125px;
}

.plans .text-wrapper-38 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 252px;
    width: calc(100% - 151px);
}

.plans .text-wrapper-39 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 371px;
    width: calc(100% - 151px);
}

.plans .text-wrapper-40 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 410px;
    width: calc(100% - 151px);
}

.plans .button-secondary {
    align-items: center;
    border: 1px solid;
    border-color: #f14d3466;
    border-radius: 5px;
    bottom: 84px;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 60px;
    position: absolute;
    width: calc(100% - 130px);
}

.plans .text-wrapper-41 {
    align-items: center;
    color: #f14d34;
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 12px;
    justify-content: center;
    letter-spacing: 0.72px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    width: 138px;
}

.plans .vector-3 {
    height: 1px;
    left: 60px;
    object-fit: cover;
    position: absolute;
    top: 212px;
    width: calc(100% - 120px);
}

.plans .checked {
    display: flex;
    height: 13px;
    left: 60px;
    position: absolute;
    top: 255px;
    width: 13px;
}

.plans .div-2 {
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/vector.svg);
    background-size: 100% 100%;
    height: 10px;
    margin-top: 1.5px;
    width: 13px;
}

.plans .vector-wrapper {
    display: flex;
    height: 13px;
    left: 60px;
    position: absolute;
    top: 374px;
    width: 13px;
}

.plans .checked-2 {
    display: flex;
    height: 13px;
    left: 60px;
    position: absolute;
    top: 415px;
    width: 13px;
}

.plans .text-wrapper-42 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 90px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 293px;
    width: calc(100% - 151px);
}

.plans .vector-4 {
    height: 0;
    left: 15.13%;
    position: absolute;
    top: 45.28%;
    width: 3.33%;
}

.plans .text-wrapper-43 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 90px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 333px;
    width: calc(100% - 151px);
}

.plans .vector-5 {
    height: 0;
    left: 15.13%;
    position: absolute;
    top: 51.37%;
    width: 3.33%;
}

.plans .component-2 {
    height: 583px;
    left: 789px;
    position: absolute;
    top: 112px;
    width: 390px;
}

.plans .rectangle-8 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 106.17%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.plans .group-12 {
    height: 19.21%;
    left: 15.38%;
    position: absolute;
    top: 13.72%;
    width: 60.73%;
}

.plans .button-secondary-2 {
    align-items: center;
    border: 1px solid;
    border-color: #f14d3466;
    border-radius: 5px;
    bottom: 10px;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 60px;
    position: absolute;
    width: calc(100% - 120px);
}

.plans .text-wrapper-44 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 371px;
    width: calc(100% - 139px);
}

.plans .text-wrapper-45 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 0.7;
    position: absolute;
    top: 430px;
    width: calc(100% - 191px);
}

.plans .checked-3 {
    display: flex;
    height: 13px;
    left: 60px;
    position: absolute;
    top: 434px;
    width: 13px;
}

.plans .vector-6 {
    height: 0;
    left: 15.13%;
    position: absolute;
    top: 51.03%;
    width: 3.33%;
}

.plans .vector-7 {
    height: 0;
    left: 15.13%;
    position: absolute;
    top: 57.89%;
    width: 3.33%;
}

.plans .text-wrapper-46 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 244px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 116px;
    white-space: nowrap;
}

.plans .component-3 {
    height: 627px;
    left: 380px;
    position: absolute;
    top: 76px;
    width: 420px;
}

.plans .rectangle-9 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #a1a1a140;
    height: 106.06%;
    left: 0;
    position: absolute;
    top: 2.23%;
    width: 100%;
}

.plans .group-13 {
    height: 17.86%;
    left: 14.29%;
    position: absolute;
    top: 12.76%;
    width: 56.87%;
}

.plans .button-primary-3 {
    align-items: center;
    background-color: var(--icons-1);
    border-radius: 5px;
    bottom: 10px;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 60px;
    position: absolute;
    width: calc(100% - 120px);
}

.plans .text-wrapper-47 {
    align-items: center;
    color: var(--white);
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 12px;
    justify-content: center;
    letter-spacing: 0.72px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    width: 138px;
}

.plans .text-wrapper-48 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 92px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 260px;
    width: calc(100% - 152px);
}

.plans .element-2 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 92px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 379px;
    width: calc(100% - 152px);
}

.plans .text-wrapper-49 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 92px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 438px;
    width: calc(100% - 197px);
}

.plans .checked-4 {
    display: flex;
    height: 13px;
    left: 61px;
    position: absolute;
    top: 263px;
    width: 13px;
}

.plans .checked-5 {
    display: flex;
    height: 13px;
    left: 61px;
    position: absolute;
    top: 382px;
    width: 13px;
}

.plans .checked-6 {
    display: flex;
    height: 13px;
    left: 61px;
    position: absolute;
    top: 442px;
    width: 13px;
}

.plans .text-wrapper-50 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 91px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 301px;
    width: calc(100% - 152px);
}

.plans .vector-8 {
    height: 0;
    left: 14.29%;
    position: absolute;
    top: 48.72%;
    width: 3.10%;
}

.plans .text-wrapper-51 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    left: 91px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    opacity: 0.7;
    position: absolute;
    top: 341px;
    width: calc(100% - 152px);
}

.plans .vector-9 {
    height: 0;
    left: 14.29%;
    position: absolute;
    top: 55.10%;
    width: 3.10%;
}

.plans .button-primary-4 {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 445px;
    position: absolute;
    top: 853px;
    width: 290px;
}

.plans .text-wrapper-52 {
    align-items: center;
    color: var(--main-black);
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 12px;
    justify-content: center;
    letter-spacing: 0.72px;
    line-height: 12px;
    margin-left: 1px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    width: 279px;
}


.plans {
    position: relative;
    overflow: visible;
}

/* Все элементы тарифов поверх фона */
.plans > * {
    position: relative;
    z-index: 5;
}

/* Фоновая D всегда под тарифами */
.plans .plans-d-bg {
    z-index: 1;
    position: absolute;
}

.plans-d-bg {
    position: absolute;
    top: -160px;      /* подгони по макету */
    right: -350px;   /* подгони */
    width: 900px;    /* можно изменить */
    /* opacity: 0.2; */
    z-index: 1;
}

.plans-d-bg img {
    width: 100%;
    height: auto;
    pointer-events: none;
}