.cases {
    height: auto;
    min-height: 1656px;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 100px auto;
    padding: 0 130px 100px;
}

.cases .case-card {
    height: 475px;
    left: 0;
    position: absolute;
    top: 111px;
    width: 380px;
}

.cases .text-wrapper-24 {
    color: var(--main-black);
    font-family: var(--titles-h4-font-family);
    font-size: var(--titles-h4-font-size);
    font-style: var(--titles-h4-font-style);
    font-weight: var(--titles-h4-font-weight);
    height: 9.26%;
    left: 7.89%;
    letter-spacing: var(--titles-h4-letter-spacing);
    line-height: var(--titles-h4-line-height);
    position: absolute;
    top: 53.68%;
    width: 84.21%;
}

.cases .text-wrapper-25 {
    color: var(--main-black);
    font-family: var(--labels-12-bold-font-family);
    font-size: var(--labels-12-bold-font-size);
    font-style: var(--labels-12-bold-font-style);
    font-weight: var(--labels-12-bold-font-weight);
    height: 3.16%;
    left: 7.89%;
    letter-spacing: var(--labels-12-bold-letter-spacing);
    line-height: var(--labels-12-bold-line-height);
    opacity: 0.5;
    position: absolute;
    top: 64.00%;
    width: 84.21%;
}

.cases .text-wrapper-26 {
    color: var(--main-black);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 13.89%;
    left: 7.89%;
    letter-spacing: 0;
    line-height: 22px;
    opacity: 0.7;
    position: absolute;
    top: 71.37%;
    width: 82.37%;
}

.cases .rectangle-4 {
    background: radial-gradient(
            50% 50% at 16% 9%,
            rgba(244, 244, 244, 0.6) 28%,
            rgba(209, 209, 209, 0.6) 100%
    ),
    linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-color: var(--gradient-card-gray);
    border-radius: 5px;
    height: 215px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cases .image-11 {
    border-radius: 5px;
    height: 215px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 380px;
}

.cases .case-card-2 {
    height: 475px;
    left: 800px;
    position: absolute;
    top: 606px;
    width: 380px;
}

.cases .case-card-vert-image {
    background-color: var(--gradient-card-gray);
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/image-6-1-2.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    height: 475px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 606px;
    width: 380px;
}

.cases .image-12 {
    border-radius: 5px;
    height: 475px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 380px;
}

.cases .rectangle-5 {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    border-radius: 5px;
    height: 349px;
    left: 0;
    position: absolute;
    top: 126px;
    width: 380px;
}

.cases .text-wrapper-27 {
    color: #ffffff;
    font-family: var(--titles-h4-font-family);
    font-size: var(--titles-h4-font-size);
    font-style: var(--titles-h4-font-style);
    font-weight: var(--titles-h4-font-weight);
    height: 9.26%;
    left: 10.53%;
    letter-spacing: var(--titles-h4-letter-spacing);
    line-height: var(--titles-h4-line-height);
    position: absolute;
    top: 76.00%;
    width: 78.95%;
}

.cases .text-wrapper-28 {
    color: #ffffff;
    font-family: var(--labels-12-bold-font-family);
    font-size: var(--labels-12-bold-font-size);
    font-style: var(--labels-12-bold-font-style);
    font-weight: var(--labels-12-bold-font-weight);
    height: 3.16%;
    left: 10.53%;
    letter-spacing: var(--labels-12-bold-letter-spacing);
    line-height: var(--labels-12-bold-line-height);
    opacity: 0.5;
    position: absolute;
    top: 86.32%;
    width: 78.95%;
}

.cases .case-card-vert-image-2 {
    background-color: var(--gradient-card-gray);
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/image-6-1-2.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    height: 475px;
    left: 400px;
    overflow: hidden;
    position: absolute;
    top: 606px;
    width: 380px;
}

.cases .case-card-vert-image-3 {
    background-color: var(--gradient-card-gray);
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/image-6-1-2.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    height: 475px;
    left: 800px;
    overflow: hidden;
    position: absolute;
    top: 1101px;
    width: 380px;
}

.cases .case-big {
    background-color: var(--gradient-card-gray);
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/image-6-1-2.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    height: 475px;
    left: 400px;
    overflow: hidden;
    position: absolute;
    top: 111px;
    width: 780px;
}

.cases .image-13 {
    border-radius: 5px;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.cases .rectangle-6 {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    border-radius: 5px;
    height: 74.53%;
    left: 0;
    position: absolute;
    top: 25.47%;
    width: 100%;
}

.cases .text-wrapper-29 {
    bottom: 40px;
    color: #ffffff;
    font-family: var(--titles-h4-font-family);
    font-size: var(--titles-h4-font-size);
    font-style: var(--titles-h4-font-style);
    font-weight: var(--titles-h4-font-weight);
    left: 40px;
    letter-spacing: var(--titles-h4-letter-spacing);
    line-height: var(--titles-h4-line-height);
    position: absolute;
    width: 320px;
}

.cases .case-big-2 {
    background-color: var(--gradient-card-gray);
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/image-6-1-2.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
    height: 475px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1101px;
    width: 780px;
}

.cases .text-wrapper-30 {
    color: var(--main-black);
    font-family: var(--titles-h2-font-family);
    font-size: var(--titles-h2-font-size);
    font-style: var(--titles-h2-font-style);
    font-weight: var(--titles-h2-font-weight);
    left: 384px;
    letter-spacing: var(--titles-h2-letter-spacing);
    line-height: var(--titles-h2-line-height);
    position: absolute;
    text-align: center;
    top: 0;
}

.cases .button-primary-2 {
    align-items: center;
    border: 1px solid;
    border-color: #040c3333;
    border-radius: 5px;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    left: calc(50.00% - 130px);
    position: absolute;
    width: 260px;
}

.cases .text-wrapper-31 {
    align-items: center;
    color: var(--main-black);
    display: flex;
    font-family: "Montserrat", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 12px;
    justify-content: center;
    letter-spacing: 0.72px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    width: 110px;
}
