.partners {
    display: flex;
    flex-direction: column;
    height: 477px;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 100px auto;
}

.partners .text-wrapper-9 {
    color: var(--main-black);
    font-family: var(--titles-h2-font-family);
    font-size: var(--titles-h2-font-size);
    font-style: var(--titles-h2-font-style);
    font-weight: var(--titles-h2-font-weight);
    height: 51px;
    letter-spacing: var(--titles-h2-letter-spacing);
    line-height: var(--titles-h2-line-height);
    margin-left: 525px;
    text-align: center;
    width: 390px;
}

.partners .text-wrapper-10 {
    color: var(--main-black);
    font-family: var(--text-16px-font-family);
    font-size: var(--text-16px-font-size);
    font-style: var(--text-16px-font-style);
    font-weight: var(--text-16px-font-weight);
    height: 44px;
    letter-spacing: var(--text-16px-letter-spacing);
    line-height: var(--text-16px-line-height);
    margin-left: 350px;
    margin-top: 10px;
    opacity: 0.7;
    text-align: center;
    width: 740px;
}

.partners .group-2 {
    display: flex;
    gap: 20px;
    margin-left: -13px;
    margin-top: 42px;
    width: 1535px;
}

.partners .frame {
    align-items: center;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
    height: 155px;
    justify-content: center;
    overflow: hidden;
    width: 291px;
}

.partners .image {
    height: 150px;
    margin-left: 1px;
    margin-top: 1px;
    object-fit: cover;
    width: 150px;
}

.partners .img {
    height: 97px;
    object-fit: cover;
    width: 97px;
}

.partners .image-wrapper {
    align-items: center;
    background-color: var(--white);
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
    height: 155px;
    justify-content: center;
    overflow: hidden;
    width: 291px;
}

.partners .image-2 {
    height: 38px;
    margin-left: 1px;
    margin-top: 1px;
    object-fit: cover;
    width: 186px;
}

.partners .image-3 {
    height: 37px;
    margin-left: 1px;
    object-fit: cover;
    width: 102px;
}

.partners .image-4 {
    height: 88px;
    margin-left: 1px;
    margin-top: 1px;
    object-fit: cover;
    width: 88px;
}

.partners .group-3 {
    display: flex;
    gap: 20px;
    margin-left: -171px;
    margin-top: 20px;
    width: 1846px;
}

.partners .image-5 {
    height: 88px;
    margin-left: 70px;
    margin-top: 1px;
    object-fit: cover;
    width: 19px;
}

.partners .image-6 {
    height: 38px;
    margin-left: -182px;
    margin-top: 1px;
    object-fit: cover;
    width: 3px;
}
