.drupal-coder {
    background-color: #ffffff;
    min-height: 9378px;
    min-width: 1440px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.drupal-coder img {
    transition: transform 0.3s ease;
}

.header img:hover,
.plans img:hover {
    transform: scale(1.05);
}

.plans {
    position: relative;
    z-index: 10;
}

.d-2 {
    z-index: 0 !important;
}

.drupal-coder .d-2 {
    background-image: url(https://c.animaapp.com/mixkm5sjC7HSqN/img/group.png);
    background-size: 100% 100%;
    bottom: 5531px;
    height: 843px;
    opacity: 0.2;
    position: absolute;
    right: -573px;
    width: 1408px;
}

.drupal-coder .d-background {
    height: 843px;
    left: 0;
    position: absolute;
    top: 0;
    width: 835px;
}

.drupal-coder .rectangle-21 {
    height: 191px;
    left: 0;
    position: absolute;
    top: 652px;
    width: 318px;
}
